[submodule "weekly"]
	path = weekly
	url = https://github.com/dt-fe/weekly.git
[submodule "free-books"]
	path = free-books
	url = https://github.com/ruanyf/free-books.git
[submodule "microfrontends"]
	path = microfrontends
	url = https://github.com/phodal/microfrontends.git
